

table.svcTable {
    border: 1px solid rgb(0, 0, 0);
    background-color: #F9D1B5;
    width: 965px;
    height: 500px;
    text-align: center;
    padding: 0px 0px;
    font-size: 0;
  }
  table.svcTable td, table.svcTable th {
    padding: 0px 0px;
    font-size: 0;
  }

.imNext{
    display: block;
    float: left;
    font-size: 0;
}

table.servicesTable {
    border: 0px solid #FFFFFF;
    background-color: #AECAFC;
    text-align: center;
  }

  table.mainTable {
    border: 0px solid #FFFFFF;
    background-color: #FFFFFF;
    text-align: center;
  }



  .cpt {
    cursor: pointer;
    border: 0px solid #fff;
    /*border-radius: 150px;*/
  }
  
  .cpt.activated {
    border: 0px solid #fff;
  }
  

  .activitie{
    font-family: Constantia, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
  }

  .tableList {
      width: 100%;
  }
  
  thead {
      background: rgb(18, 18, 136);
      color: #fff;
  }

  .redRow {
    background: #D93600;
    color: #fff;
}

.blueRow {
  background: #305598;
  color: #fff;
}

.pubsubTable {
  width: 100%;
  border: 0px solid rgb(0, 0, 0);
    text-align: center;
    padding: 0px 0px;
    font-size: 0;
}

.datastoreTable {
  width: 100%;
  border: 0px solid rgb(0, 0, 0);
    text-align: center;
    padding: 0px 0px;
    font-size: 0;
}

.redRowState {
  background: #D93600;
  color: #fff;
}

.blueRowState {
background: #305598;
color: #fff;
}

.blackRowState {
  background: #ffffff;
  color: #000000;
  }