

table.svcTable {
    border: 1px solid rgb(0, 0, 0);
    background-color: #F9D1B5;
    width: 965px;
    height: 500px;
    text-align: center;
    padding: 0px 0px;
    font-size: 0;
  }
  table.svcTable td, table.svcTable th {
    padding: 0px 0px;
    font-size: 0;
  }

.imNext{
    display: block;
    float: left;
    font-size: 0;
}

table.servicesTable {
    border: 0px solid #FFFFFF;
    background-color: #AECAFC;
    text-align: center;
  }

  table.mainTable {
    border: 0px solid #FFFFFF;
    background-color: #FFFFFF;
    text-align: center;
  }



  .cpt {
    cursor: pointer;
    border: 0px solid #fff;
    /*border-radius: 150px;*/
  }
  
  .cpt.activated {
    border: 0px solid #fff;
  }
  
  .tableList {
      width: 100%;
  }
  
  thead {
      background: blue;
      color: #fff;
  }